body {
  background: <%= style.bgColorDarkMode %>;
  color: white;
}
a, a:link, a:visited {
  color: #1D9BD1;
}
#pending {
  background: #302E27;
}
.action-menu {
  background: <%= style.bgColorDarkMode %>;
  border-color: rgba(232, 232, 232, 0.13);
}
a.icon {
  color: #BBB;
}
a.icon:hover {
  color: white;
}
.msg.role-assistant {
  background: #222529;
}
.msg .sender .time {
  color: #ABABAD;
}
.text .edited.label {
  color: #818385;
}
.text .code-block, .text code {
  background: rgba(232, 232, 232, 0.04);
  border-color: rgba(232, 232, 232, 0.13);
}
.text .code-block {
  color: #D1D2D3;
}
.text code {
  color: #E8912D;
}
.text .code-block .toolbar {
  background: rgba(232, 232, 232, 0.08);
}
.text .code-block .toolbar span {
  color: #999;
}
.text table, .text th, .text td {
  border-color: #666;
}
