<div <% if (response?.pending) { %> id="pending" <% } %> class="msg role-<%= message.role.toLowerCase() %>">
  <div class="avatar">
    <% if (message.avatar) { %>
      <img src="<%= message.avatar %>"/>
    <% } else { %>
      <div class="dummy"></div>
    <% } %>
  </div>
  <div class="content">
    <div class="sender">
      <div class="name"><%= message.sender %></div>
    </div>
    <% if (response?.pending) { %>
      <img id="loader" src="chie://app-file/assets/icons/typing.gif"/>
    <% } %>
    <div class="text">
    <% if (message.content) { %>
      <%- message.content %>
    <% } %>
    </div>
  </div>
</div>
