html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  color: #2C2D30;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.46668;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

a, a:link, a:visited {
  color: #0576B9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#messages {
  margin-bottom: 10px;
}

#pending {
  background: rgba(255, 204, 0, .1);
}

#loader {
  height: 15px;
}

.action-menu {
  display: none;
  position: absolute;
  right: <%= style.chatViewPadding %>px;
  top: 2px;
  padding: 2px;
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
}
.action-menu a {
  color: #717274;
  display: inline-block;
  text-decoration: none;
  /* Add animation for hovering */
  transition: all 0.1s ease-in-out;
  /* Remove the space between icons */
  margin-right: -4px;
}
.action-menu a:last-child {
  /* Except for the last icon */
  margin-right: 0;
}
.action-menu a:hover {
  color: #222;
}
.action-menu a i.icon-ok {
  /* Animation when user clicks on the menu item */
  transition: all 0.5s ease-out;
  color: #4AA081;
}

.msg {
  display: table;
  width: 100%;
  border-collapse: collapse;
  /* Prevent content to overgrow the div width. */
  table-layout: fixed;
}
.msg.folded {
  border-top-width: 0;
}
.msg.folded .action-menu {
  margin-top: -1.3em;
}
.msg.role-assistant {
  background: #FAFAFA;
}
.msg:hover .action-menu {
  display: block;
}
.msg#pending:hover .action-menu {
  display: none;
}
.msg > div {
  display: table-cell;
  vertical-align: top;
}
.msg .avatar {
  padding: <%= style.chatViewPadding %>px;
  padding-right: <%= style.chatViewPadding / 2 %>px;
  /* Table cell width */
  width: 32px;
}
.msg .avatar > * {
  /* Image size */
  width: 32px;
  height: 32px;
}
.msg .content {
  word-wrap: break-word;
  padding: <%= style.chatViewPadding %>px;
  padding-left: <%= style.chatViewPadding / 2 %>px;
  /* Required for making action menu's absolute position relative to this div */
  position: relative;
}
.msg .sender {
  height: 15px;
  line-height: 1;
  padding-bottom: 2px;
}
.msg .sender > div {
  display: inline-block;
}
.msg .sender .name {
  font-weight: 600;
}
.msg .sender .time {
  font-size: 12px;
  color: #717274;
}

.text .label {
  font-size: 13px;
  white-space: nowrap;
}
.text .edited.label {
  color: #A0A0A2;
}
.text > p:first-child {
  margin-top: 0;
}
.text > p:last-child {
  margin-bottom: 0;
}
.text pre, .text code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  tab-size: 2;
  word-break: break-word;
  word-wrap: break-word;
}
.text pre {
  padding: .5rem;
  margin: .5rem 0 .2rem;
  font-size: .75rem;
  line-height: 1.15rem;
  white-space: pre-wrap;
  background: #F9F9F9;
  color: #333;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.text code {
  font-size: .75rem;
  line-height: .75rem;
  white-space: normal;
  padding: 2px 3px 1px;
  color: #d72b3f;
  background: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.attachment {
  margin: 4px 0 4px 0;
  display: table;
  border-collapse: collapse;
}
.attachment > div {
  display: table-cell;
  vertical-align: top;
}
.attachment .border {
  border-radius: 8px;
}
.attachment .content {
  padding-left: 10px;
}
.attachment .sender {
  margin: 4px 0 4px 0;
}
.attachment .sender > * {
  vertical-align: middle;
}
.attachment .sender img {
  border-radius: 2px;
}
.attachment .sender a {
  color: #717274;
}
.attachment .title {
  color: #005E99;
  font-weight: bold;
}

.image img {
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #AAA;
}
.image .name {
  margin-top: 4px;
  font-size: 12px;
  color: #717274;
}

.file {
  max-width: 600px;
  margin: 4px 0 4px 0;
  padding: 11px 0 10px 10px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}
.file:hover {
  border-color: #2D9EE0;
}
.file .name {
  font-weight: bold;
  line-height: 1.15rem;
}
.file .type {
  font-size: 12px;
  color: #717274;
}
.file .icon {
  float: left;
  font-size: 32px;
  height: 100%;
  margin: -7px 8px 0 0;
  color: #2D9EE0;
}
