<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css"><%- await include('page.css') %></style>
</head>
<body>

<div id="messages">
  <% for (const message of history) {%>
    <%- await include('message.html', {message}) %>
  <% } %>
</div>

<script type="text/javascript" charset="utf-8">
  // Global variables ======================================================

  // Which element is on top.
  var topElement = null
  // Offset from the top element.
  var scrollOffset = 0
  // Mark page is resizing.
  var ignoreNextScroll = false

  // Initialization ========================================================

  // For IE we need to scroll after ready, as the window body's size may be
  // incorrect before showing the browser.
  // For morden browsers scrolling before showing has the best visual effect.
  var isIE = /Trident|MSIE/.test(navigator.userAgent)
  if (!isIE)
    scrollToUnreadMarker()
  // Load all images.
  loadAllImages()

  // External APIs =========================================================

  // External API for invoking callbacks from outside world.
  var callbacks = {}
  window.executeCallback = function(id, arg) {
    if (!callbacks[id])
      return
    callbacks[id](arg)
    delete callbacks[id]
  }
  // External API to add a new message.
  var messages = document.getElementById('messages')
  window.addMessage = function(html) {
    var children = HTMLToDOM(html)
    for (var i = 0; i < children.length; i++)
      messages.appendChild(children[i])
    // Scroll to bottom for new messages.
    scrollToBottom()
    // Load images.
    loadAllImages()
  }
  // External API to update pending message.
  window.updatePending = function(html, back) {
    var text = findPending('text')
    if (!text)
      return
    removeLoader()
    // Update the message html.
    var wasAtBottom = topElement == null
    if (back)
      text.innerHTML = text.innerHTML.slice(0, -back) + html
    else
      text.innerHTML += html
    if (wasAtBottom)
      scrollToBottom()
  }
  window.endPending = function() {
    var pending = findPending()
    if (pending)
      pending.removeAttribute('id')
    removeLoader()
  }
  window.regenerateLastMessage = function() {
    var pending = document.getElementById('pending')
    var messages = document.getElementsByClassName('msg')
    if (messages.length == 0) {
      console.error('No message for regenerating.')
      return
    }
    var message = messages[messages.length - 1];
    if (pending && pending != message) {
      console.error('Pending message is not last message.')
      pending.removeAttribute('id')
    }
    message.setAttribute('id', 'pending')
    message.getElementsByClassName('text')[0].innerHTML = '';
  }
  window.markAborted = function(error) {
    var text = findPending('text')
    if (text) {
      var inlineText = text.lastElementChild ? text.lastElementChild : text
      inlineText.innerHTML += ' <span class="edited label">(aborted)</span>'
      scrollToBottom()
    }
  }
  window.markError = function(error) {
    var text = findPending('text')
    if (text) {
      text.innerHTML += '<span class="error label">' + error + '</span>'
      scrollToBottom()
    }
  }

  // DOM event handlers ====================================================

  // Open links in actual browsers.
  window.onclick = function(event) {
    var target = findParent('a', event.target)
    if (target && target.href !== '#' && !target.onclick) {
      chie.openLink(target.href)
      return false
    }
  }
  // Custom menu for links.
  window.oncontextmenu = function(event) {
    var target = findParent('a', event.target)
    if (target && target.href !== '#' && !target.oncontextmenu) {
      chie.openLinkContextMenu(target.href)
      return false
    }
  }
  // Update current top element.
  window.onscroll = function() {
    if (ignoreNextScroll) {
      ignoreNextScroll = false
      return
    }
    topElement = null
    scrollOffset = 0
    // Is at page bottom?
    if (window.scrollY + window.innerHeight >= document.body.scrollHeight)
      return
    var messages = document.getElementsByClassName('msg')
    if (messages.length === 0)
      return
    // Search backwards.
    for (var i = messages.length - 1; i >= 0;  --i) {
      var rect = messages[i].getBoundingClientRect()
      topElement = messages[i]
      scrollOffset = rect.top
      if (rect.top < 0)
        break
    }
  }
  // Make sure the view is always scrolled at current message.
  window.onresize = function() {
    ignoreNextScroll = true
    if (topElement)
      window.scrollTo(0, topElement.getBoundingClientRect().top + window.pageYOffset - scrollOffset)
    else
      scrollToBottom()
  }

  // Ready =================================================================

  // We are ready.
  chie.notifyReady()
  // See comment above on IE.
  if (isIE)
    scrollToUnreadMarker()

  // Helpers ===============================================================

  // Scroll to the unread marker, or bottom if not found.
  function scrollToUnreadMarker() {
    var marker = document.getElementById('unread-marker')
    if (marker) {
      var rect = marker.getBoundingClientRect()
      window.scrollTo(0, rect.top + window.pageYOffset - (window.innerHeight / 2))
    } else {
      scrollToBottom()
    }
  }
  // Find all delayed-image items and load them.
  function loadAllImages() {
    var imgs = [].slice.call(document.getElementsByClassName('delayed-image'))
    for (var i = 0; i < imgs.length; ++i) {
      var img = imgs[i]
      img.classList.remove('delayed-image')
      loadImage(img, img.getAttribute('data-url'))
    }
  }
  // Helper to dynamically load an image which requires authorization.
  var nextCallbackId = 0
  function loadImage(element, url) {
    callbacks[++nextCallbackId] = function(result) {
      element.src = result
    }
    chie.fetchImage(url, nextCallbackId)
  }
  // Remove the load indicator.
  function removeLoader() {
    var loader = document.getElementById('loader')
    if (loader)
      loader.remove()
  }
  // Helper to convert HTML to DOM.
  function HTMLToDOM(html) {
    // Note: Don't use DOMParser, it has problems with applying CSS styles.
    var wrapper = document.createElement('div')
    wrapper.innerHTML = html
    return wrapper.childNodes
  }
  // Find the pending message.
  function findPending(child) {
    var pending = document.getElementById('pending')
    if (!pending) {
      console.error('Unable to find the pending message.')
      return
    }
    if (!child)
      return pending
    var text = pending.getElementsByClassName(child)[0]
    if (!text) {
      console.error('The pending message has no '+ child + ' element.')
      return
    }
    return text
  }
  // Scroll to the bottom of page.
  function scrollToBottom() {
    window.scrollTo(0, document.body.scrollHeight)
  }
  // Helper function to find parent element.
  function findParent(tagName, target) {
    var loops = 0
    while (target && ++loops < 4) {
      if (target.tagName && target.tagName.toLowerCase() === tagName)
        return target
      target = target.parentNode
    }
    return null
  }
</script>
</body>
</html>
